html, body {
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
}

#editor {
	position: relative;

	height: 100%;

	font-size: 15px;
	font-family: "DejaVu Sans Mono";
}

#multifile_panel {
	background-color: rgb(60, 60, 60);
}

#multifile_panel > span {
	background-image: linear-gradient(rgb(160, 160, 160) 10%, rgb(90, 90, 90) 100%);

	padding: 3px;
	margin: 2px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#multifile_panel > span.open {
	background-image: linear-gradient(rgb(190, 190, 190) 10%, rgb(120, 120, 120) 100%) !important;
}

#dir_tree {
	background-color: gray;

	float: left;

	height: 100%;
	max-width: 30%;
	overflow: scroll;

	display: none;
}

::-webkit-scrollbar {
	width: 6px;
}
 
::-webkit-scrollbar-track {
	border-radius: 8px;
	background: rgba(70, 70, 70, 0.2);
}
 
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.5); 
}