<html>
<head>
	<!-- for debug -->
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script>

	<title>View</title>

	<script type="text/javascript" src="./libs/jquery/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="./libs/EventEmitter/EventEmitter.js"></script>

	<script type="text/javascript" src="./js/events.js"></script>
	<script type="text/javascript" src="./js/core.js"></script>
</head>
<body>
	<textarea id="text" rows="20" cols="40"></textarea><br />
	<input type="text" id="filename" value="tmp_file.txt" />
	<input type="button" id="save" value="Save file" />
	<input type="button" id="open" value="Open file" />
</body>
</html>